:root {
  --border-radius: 5px;
  --green-text: rgb(92, 148, 13);
  --green-background: rgb(178, 242, 187);
}
input {
  border: 1px solid gray;
}

.App {
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
}

._partyLevelBox {
  display: flex;
  align-items: center;
}

._inputGrid {
  display: flex;
  flex-direction: column;
}
._inputGridTitle {
  align-self: center;
}

._inputGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
}
._addRowButton {
  margin-top: 5px;
  width: fit-content;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--green-background);
  color: var(--green-text);
}
._countField {
  width: 30px;
  text-align: center;
}
._valueAndCountContainer {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

._hidden {
  visibility: hidden;;
}

._difficultyLevelBar {
  height: 20px;
  display: grid;
  border: 1px solid gray;
  grid-template-columns: repeat(4, 1fr);
}

._baseBar {
  border: 1px solid gray;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

._easyBar {
  background-color: #00ff00;
}
._mediumBar {
  background-color: #ffff00;
}
._hardBar {
  background-color: #ff0000;
}
._deadlyBar {
  background-color: rgb(46, 10, 69);
}

._difficultyBarContainer {
  padding-top: 10px;
}

._smallBottomPadding {
  margin-bottom: 5px;
}