.App {
  width: 500px;
  height: 500px;
  text-align: center;
  border: 1px solid black;
}

._partyLevelBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
._partyLevelInput {
  width: 20px;

}

._monsterCRsGrid {
  display: flex;
  flex-direction: column;
}