:root {
  --border-radius: 5px;
}

.App {
  width: fit-content;
  border: 1px solid black;
}

._partyLevelBox {
  display: flex;
  align-items: center;
}

._inputGrid {
  display: flex;
  flex-direction: column;
}
._inputGridTitle {
  align-self: center;
}

._inputGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
}
._addRowButton {
  width: fit-content;
  border-radius: var(--border-radius)
}

._valueAndCountContainer {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

._hidden {
  visibility: hidden;;
}